body {
  padding: 10rem;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}

h1 {
  color: rgb(41, 41, 41);
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.docs-example {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.docs-example h2 {
  font-size: 24px;
  color: rgb(41, 41, 41);
}

/* Reset */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
