:host {
  --default-bg-color: #007bff;
  background-color: var(--bg-color, var(--default-bg-color));
  color: var(--text-color, white);
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
  user-select: none;
}

:host(:hover) {
  background-color: color-mix(
    in srgb,
    var(--bg-color, var(--default-bg-color)),
    black 10%
  );
}

:host(:active) {
  background-color: color-mix(
    in srgb,
    var(--bg-color, var(--default-bg-color)),
    black 20%
  );
}

:host([disabled]) {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  pointer-events: none;
}
